body {
  padding: 100px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

main {
  
  
  width:80%;
}

a {
  color: #00B7FF;
}

li {
  list-style-type:none;
}

.navbar {
  
}

.form-signin {
  width:80%;
}
