body {
  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

main {
  text-align:center;
  padding-left:150px;
  width:80%;
}

li {
  text-decoration:none;
}

a {
  color: #00B7FF;
}


.navbar-custom {
    background-color:#002080;
    color:#ffffff;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}

.nav>li>a:hover {
    text-decoration: none;
    background-color: white;
    color:black;
    font-size:110%;
}


.form-signin {
  width:50%;
  margin:auto;
}

.btn-default {
  border-radius:0;
  border: none;
  background: none;
}
