body {
  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

main {
  text-align:center;
  padding-left:150px;
  width:80%;
  font: 20px;
}

li {
  text-decoration:none;
}

a {
  color: #00B7FF;
}


.navbar-custom {
    background-color:#002080;
    color:#ffffff;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color:#002080;
    font-size:20px;
}


.form-signin {
  width:50%;
  margin:auto;
}
